@keyframes catPawAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes catPawUpAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.home__catSVG {
    --blue:#748be8;
    --violet:#5e28dc;
    --pink-light:#d89fed;
    --pink:#663e8a;
    --violet-light:#d0cfe2; 
    --stroke-width:0.5;


}

path,
rect {
    stroke-width: var(--stroke-width);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 1;
}


/***TABLE***/

.table {
    fill: none;
    stroke: var(--violet-light);
}

/***LAPTOP***/


.laptop-cover {
    fill: none;
    fill-opacity: 1;
    stroke: var(--violet);
}

.laptop-base {
    fill: none;
    fill-opacity: 1;
    stroke: var(--violet);
}

.keyboard {
    fill: none;
    fill-opacity: 1;
    stroke: var(--blue);
}

.screen-content {
    fill: var(--violet-dark);
    fill-opacity: 1;
    stroke: var(--blue);
}

/*Screen animation*/

.screen-code {
    fill: none;
    fill-opacity: 1;
    stroke: var(--violet-light);
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    opacity: 0; 
    transition: none; 
}

.screen-code.displayed {
    opacity: 1; 
    stroke-dashoffset: 0; 
    transition: stroke-dashoffset 0.5s ease-in-out;
}


/***CAT***/

.cat-face {
    display:inline;
    fill: var(--pink-light);
    fill-opacity: 1;
    stroke-width:0.396948;
}

.cat-tail {
    fill: none;
    fill-opacity: 1;
    stroke: var(--violet-light);
}

.cat-body {
    fill: none;
    fill-opacity: 1;
    stroke: var(--violet-light);
}

.cat-ears {
    fill: none;
    fill-opacity: 1;
    stroke: var(--pink);
}

.cat-mustache {
    fill: none;
    fill-opacity: 1;
    stroke: var(--pink);
}

.cat-paw-right {
    fill: var(--violet-dark);
    fill-opacity: 1;
    stroke: var(--violet-light);
    stroke-opacity: 1;
}

.cat-paw-right-up {
    fill: var(--violet-dark);
    fill-opacity: 1;
    stroke: var(--violet-light);
    stroke-opacity: 1;
}

.cat-paw-left {
    fill: var(--violet-dark);
    fill-opacity: 1;
    stroke: var(--violet-light);
    stroke-opacity: 1;
}

.cat-paw-left-up {
    fill: var(--violet-dark);
    fill-opacity: 1;
    stroke:var(--violet-light);
    stroke-opacity: 1;
}

.pad {
    stroke:var(--pink);
}

/*Paw animation*/

.cat-paw-right {
    animation: catPawAnimation 0.4s infinite;
}

.cat-paw-left {
    animation: catPawAnimation 0.4s infinite;
    animation-delay: 0.1s;
}

.cat-paw-right-up {
    animation: catPawUpAnimation 0.4s infinite;
}

.cat-paw-left-up {
    animation: catPawUpAnimation 0.4s infinite;
    animation-delay: 0.1s;
}