:root {
    --violet-dark:#000c2c;
    --violet-shadow:#00071b;
    --red-orange:#fc5241;
    --red-pink:#f42b65;
    --violet-pink:#7A1C49;
    --white: white;
}

body {
    font-family: 'Poppins', sans-serif;
    color:var(--violet-dark);
}

.container {
    height:100vh;
    position: relative;
    font-size: 0.9rem;
    font-weight: 300;
}

/******************/
/******HEADER******/
/******************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background: rgba(0, 7, 27, 0.5);
    box-shadow: 0 2px 4px 0 var(--violet-shadow);
}

.logo {
    margin:0 6rem;
    display: flex;
    align-items: center;
}

.logo .bi {
    font-size: 1.5rem;
    color: var(--red-pink);
}

.logo__link {
    color: var(--white);
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.rem;
    font-weight: bold;
    padding-left:0.8rem;
}

.logo__link--red {
    color:var(--red-pink);
}

.nav {
    margin:0 6rem;
    display: flex;
    align-items: center;
    position:relative;
}

.nav__link {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding: 0 1rem;
    position:relative;
}

.nav__link::after {
    content: "";
    position: absolute; /*position absolue par rapport à son parent qui est nav__link*/
    bottom: -10px; /*affiche la barre 10px en dessous du lien*/
    left: 0;
    right:0; /*s'étend de la gauche à la droite*/
    width: 80%; /*fait 80% de large par rapport au lien*/
    height: 1px;
    background-color: var(--red-pink); /*couleur de la barre*/
    border-radius: 5px;
    margin: 0 auto; /*centrer la barre horizontalement sous le lien*/
    transition: transform 0.3s ease-in-out; /*la transition agit sur la propriété transform avec une durée de 0.3s et une accélération progressive*/
    transform: scaleX(0); /*la barre est initialement invisible*/
    transform-origin: center; /*définit le point d'origine de la transformation à mi-chemin horizontalement*/
}

.nav__link:hover::after {
    transform: scaleX(1);/*au survol, la barre est devient visible*/
}



/******************/
/*******MAIN*******/
/******************/ 

/******Home******/ 

.home {
    height: 100vh;
    background-image: url(../images/background-red-darkblue.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home__container {
    margin:0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding-right:4rem;
}

.social__link {
    color:var(--white);
    font-size: 1.5rem;
    border: 1.6px solid var(--white);
    border-radius: 50%;
    padding: 0.8rem;
    text-align: center;
    line-height: auto;
}

.social__link:hover {
    color: var(--white);
    background-color: var(--red-pink);
    border: 1.6px solid var(--red-pink);
    transition: all .3s ease-in-out;
    }

.content__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
    color:var(--white);
}

.title__name {
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 0.6rem;
}

.title__job {
    font-size: 1.3rem;
    font-weight:300;
    color: var(--pink);
}

.content__button {
    margin-top:1.5rem;
}

.content__button {
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(45deg, var(--violet-pink), var(--red-orange));
    box-shadow: 0 6px 15px 2px black;
    padding: 0.8rem 1.2rem;
    text-align: center;
    width: 50%;
    transition: all .3s ease-in-out;
}

.content__button:hover {
    transform: scale(1.05);
}

/******Titres&Layout******/ 

.main__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: auto;
    margin-bottom:2rem;
    color:var(--violet-dark);
    width: fit-content; 
}

.main__layout {
    height: fit-content;
    width: 100%;
    margin: auto;
    padding:6.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


/******Presentation******/ 

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image {
    display: flex;
    flex-direction: column;
    justify-content: center; /*centrer l'image sur l'axe vertical*/
    align-items: center; /*centrer l'image sur l'axe horizontal*/
    border-radius: 30% 0% 30% 0% / 25% 75% 25% 75%;
    width:400px;
    height:400px;
    background: linear-gradient(to right,var(--violet-pink),var(--red-orange));
    margin-right:6.5rem;
}

.about__image--photo {
    width:85%;
    height:85%;
}

.about__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
}

.article__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    position:relative;
    width:fit-content;
    padding:1.8rem 0;
}

.article__subtitle::before {
    content: '';
    height: 1px;
    width: 50px;
    background-color: var(--red-pink);
    border-radius:5px;
    position: absolute;
    left: -60px;
    top: 50%;
}

.article__subtitle::after {
    content: '';
    height: 1px;
    width: 50px;
    background-color: var(--red-pink);
    border-radius:5px;
    position: absolute;
    right: -60px;
    top: 50%;
}

.about__article p {
    padding:0.5rem 0;
    line-height: 1.5;
    font-weight: 300;
}

.text__bold {
    font-weight: 600;
}



/******Mon parcours******/ 

.experience {
    background-color: var(--violet-dark);
    color:var(--white)
}

.experience__title {
    color: var(--white);
}

.experience__container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/******Compétences******/ 


/******Projets******/ 

.projects {
    background-color: var(--violet-dark);
    color:var(--white)
}

.projects__title {
    color: var(--white);
}

.projects__container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin:0 5rem;
}

.projects__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__article__container {
    border: 1px solid var(--white);
    border-radius: 5px;
    padding:2rem;
}

.projects__article__title {
    font-size: 1.4rem;
    position:relative;
    width:fit-content;
    padding:1.5rem 0;
}

.projects__article__title::before {
    content: '';
    height: 3px;
    width: 50px;
    background-color: var(--red-pink);
    border-radius:5px;
    position: absolute;
    left: -60px;
    top: 50%;
}

.projects__article__title::after {
    content: '';
    height: 3px;
    width: 50px;
    background-color: var(--red-pink);
    border-radius:5px;
    position: absolute;
    right: -60px;
    top: 50%;
}

.projects__article__links a {
    border: 1px solid var(--white);
    border-radius:20px;
    font-size: 0.8rem;
    padding:0.6rem;
}

/******Contact******/ 



/********************/
/*******FOOTER*******/
/********************/ 

.footer {
    height: 5rem;
    background-image: url(../images/background-red-darkblue.jpg);
    background-size: cover;
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
