:root {
    --violet-dark: #000c2c;
    --violet-shadow: #00071b;
    --red-orange: #fc5241;
    --red-pink: #f42b65;
    --violet-pink: #7A1C49;
    --white: white;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--violet-dark);
}

.container {
    height: 100vh;
    position: relative;
    font-size: 0.9rem;
    font-weight: 300;
}

/******************/
/******HEADER******/
/******************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background: rgba(0, 7, 27, 0.5);
    box-shadow: 0 2px 4px 0 var(--violet-shadow);
}

.logo {
    margin: 0 6rem;
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 1.5rem;
    color: var(--red-pink);
}

.logo__link {
    color: var(--white);
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.8rem;
}

.logo__link--red {
    color: var(--red-pink);
}

.nav {
    margin: 0 6rem;
    display: flex;
    align-items: center;
    position: relative;
}

.nav__link {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding: 0 1rem;
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    /*position absolue par rapport à son parent qui est nav__link*/
    bottom: -10px;
    /*affiche la barre 10px en dessous du lien*/
    left: 0;
    right: 0;
    /*s'étend de la gauche à la droite*/
    width: 80%;
    /*fait 80% de large par rapport au lien*/
    height: 1px;
    background-color: var(--red-pink);
    /*couleur de la barre*/
    border-radius: 5px;
    margin: 0 auto;
    /*centrer la barre horizontalement sous le lien*/
    transition: transform 0.3s ease-in-out;
    /*la transition agit sur la propriété transform avec une durée de 0.3s et une accélération progressive*/
    transform: scaleX(0);
    /*la barre est initialement invisible*/
    transform-origin: center;
    /*définit le point d'origine de la transformation à mi-chemin horizontalement*/
}

.nav__link:hover::after {
    transform: scaleX(1);
    /*au survol, la barre est devient visible*/
    cursor: pointer;
}



/******************/
/*******MAIN*******/
/******************/

/******Home******/

.home {
    height: 100vh;
    background-image: url(../images/background-red-darkblue.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home__container {
    margin: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home__social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding-right: 4rem;
}

.home__social__link {
    color: var(--white);
    font-size: 1.3rem;
    border: 1.6px solid var(--white);
    border-radius: 50%;
    padding: 0.8rem;
    text-align: center;
    line-height: auto;
}

.home__social__link:hover {
    color: var(--white);
    background-color: var(--red-pink);
    border: 1.6px solid var(--red-pink);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.home__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
    color: var(--white);
}

.title__name {
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 0.6rem;
}

.title__job {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--pink);
}

.home__button {
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(45deg, var(--violet-pink), var(--red-orange));
    box-shadow: 0 2px 4px 0 var(--violet-shadow);
    padding: 0.8rem 1.2rem;
    margin-top: 1.5rem;
    text-align: center;
    width: 50%;
    transition: all .3s ease-in-out;
}

.home__button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/******Titres&Layout******/

.main__layout {
    height: fit-content;
    width: 100%;
    margin: auto;
    padding: 6.5rem;
}

.main__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: var(--violet-dark);
    margin: auto;
    margin-bottom: 2rem;
    width: fit-content;
    position: relative;
}

.main__title::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: var(--violet-dark);
    border-radius: 5px;
    position: absolute;
    left: -70px;
    top: 50%;
}

.main__title::after {
    content: '';
    height: 1px;
    width: 60px;
    background-color: var(--violet-dark);
    border-radius: 5px;
    position: absolute;
    right: -70px;
    top: 50%;
}

.white::before {
    background-color: var(--white);
}

.white::after {
    background-color: var(--white);
}

.main__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.5rem 0;
}


/******Presentation******/

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*centrer l'image sur l'axe vertical*/
    align-items: center;
    /*centrer l'image sur l'axe horizontal*/
    border-radius: 30% 0% 30% 0% / 25% 75% 25% 75%;
    width: 400px;
    height: 400px;
    background: linear-gradient(to right, var(--violet-pink), var(--red-orange));
    margin-right: 6.5rem;
}

.profile-picture {
    width: 85%;
    height: 85%;
}

.about__article {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.about__text p {
    padding: 0.5rem 0;
    line-height: 1.5;
    font-weight: 300;
}

.bold {
    font-weight: 600;
}



/******Mon parcours******/

.career {
    background-color: var(--violet-dark);
    color: var(--white)
}

.career__title {
    color: var(--white);
}

.career__timeline {
    position: relative;
    width: 76%;
    margin: 0 auto;
    padding: 40px 60px;
    color:var(--violet-dark);
}

.career__timeline::before {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 2px;
    background: var(--white);
    border-radius: 3px;
}

.timeline__container {
    position: relative;
    background: var(--white);
    width: calc(50% - 60px);
    padding: 1rem;
    margin-bottom:1rem;

}

.timeline__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-left: 14px solid var(--white);
    border-bottom: 15px solid transparent;
}

.timeline__container:nth-child(even) {
    margin-left: calc(50% + 60px);
}

.timeline__container:nth-child(even):before {
    left: auto;
    right: calc(100% + 35px);
}

.timeline__container:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 16px solid var(--white);
}

.timeline_icon {
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top:-14px;
    background-color: var(--white);
    border-radius: 50%;
}

.timeline_icon--right {
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    position: absolute;
   
    background-color: #ddd;
    border-radius: 560%;
}

.icon--left {
    left: calc(100% + 45px);
}

.icon--right {
    right: calc(100% + 43px);
}

.timeline__title {
    text-transform: uppercase;
    font-size: 1rem;
}

.timeline__title, .timeline__subtitle {
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.timeline__list {
    padding: 0 20px;
}

.timeline__list-text {
    list-style-type: disc;
    padding-bottom: 0.5rem;
}

.timeline__location {
    font-style: italic;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.timeline__date {
    color:var(--red-pink);
    font-weight: 500;
}


/******Compétences******/


/******Projets******/

.projects {
    background-color: var(--violet-dark);
    color: var(--violet-shadow)
}

.projects__title {
    color: var(--white);
}

.projects__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5rem;
}

.projects__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 0.4rem;
    padding: 2rem;

}

.card__button a {
    background-color: var(--violet-dark);
    border: 1px solid var(--violet-dark);
    color: var(--white);
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 0.6rem;

}

/******Contact******/

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.form__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem;
    width: 70%;
}

.form__column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form__column input,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--violet-dark);
    border: 1px solid rgba(0, 7, 27, 0.4);
    border-radius: 0.4rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.form__column textarea {
    resize: none;
    outline: none;
    height: 100%;
}

.form__button input {
    border: none;
    border-radius: 0.4rem;
    background: var(--violet-dark);
    box-shadow: 0 2px 4px 0 var(--violet-shadow);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.6rem 3rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

.form__button input:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/********************/
/*******FOOTER*******/
/********************/

.footer {
    background-image: url(../images/background-red-darkblue.jpg);
    background-size: cover;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.3rem;
}

.footer__social {
    padding-bottom: 1.2rem;
}

.footer__social__link {
    padding: 0 1rem;
    font-size: 1.2rem;
}

.footer__social__link:hover {
    color: var(--red-pink);
    transition: all .3s ease-in-out;
}

.footer p {
    font-size: 0.8rem;
}